@font-face {
  font-family: BrandonText;
  src: url("fonts/BrandonText-Regular.otf") format("opentype");
}
.reservation-main {
  font-family: BrandonText;
  width: 300px;
  box-shadow: 0px 0px 3px 2px #F0F0F0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.reservation-input-container {
  display: flex;
  flex-direction: column;
  /*margin-right: 1rem;
  margin-left: 1rem;*/
}

.date-time-container {
  display:flex;
  justify-content: space-around;
}

.vertical-container {
  display: flex;
  flex-direction: column;
}


.booked-box {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d9db;
}

.slot-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

/* #time-selector{
   width:150px;
} */

.reservation-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  /*margin-right: 1rem;
  margin-left: 1rem;*/
  border-bottom: 1px solid #d8d9db;
  margin-bottom: 2rem;
}

.time-slot {
  background-color:#da3743;
  color: white;
  width: 90px;
  /* border: 1px solid black; */
  margin-right: .5rem;
  margin-bottom: .5rem;
  display: inline-block;
  vertical-align: top;
  /*min-width:72px;*/
  min-width: 72px;
  height: 32px;
  border-radius:2px;
  text-align: center;
  line-height: 1.5em;
  cursor: pointer;
}

.party-dropdown {
  background-color: #fff;
  font-size: .875rem;
  font-family: BrandonText;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom: 1px solid #d8d9db;
  outline:0px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.party-dropdown:hover {
  cursor: pointer;
  border-bottom: 2px solid #da3743;
  margin-bottom: 19px;
}

.dropdown {
  background-color: #fff;
  font-size: .875rem;
  font-family: BrandonText;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom: 1px solid #d8d9db;
  outline:0px;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.dropdown:hover {
  cursor: pointer;
  border-bottom: 2px solid #da3743;
  margin-bottom: 0rem;
}
.dropdown:focus {
  border-bottom: 2px solid #da3743;
}

.input-title{
  font-size: .800rem;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: .5rem;
  margin-left: .15rem;
}

.time-slot-none {
  display: flex;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: #F1F2F4;
}


.reservation-find-table-button {
  border-radius:2px;
  width: 300px;
  height: 62px;
  font-weight: 600;
  background-color: #da3743;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 4px;
}


.date-picker {
  cursor: pointer;
  font-family: BrandonText;
}

.reservation-time {
  cursor: pointer;
}

.reservation-booked {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
   padding-left: 5px;
}

.reservation-find-table-button:hover, .time-slot:hover {
  background-color: #EE9FA5 ;
}

.specials {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#see-details {
  color: #da3743;
}

#see-details:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* EE9FA5 Faded button */
