@font-face {
  font-family: BrandonText;
  src: url("fonts/BrandonText-Regular.otf") format("opentype");
}

.reservation-main {
  font-family: BrandonText;
  width: 350px;
  box-shadow: 2px 2px 2px 2px #F0F0F0;
}
/* EE9FA5 Faded button */
.time-slots {
  background-color: lightyellow;
}

.time-slot {
  background-color:#da3743;
  color: white;
  width: 100px;
  /* border: 1px solid black; */
  margin-right: .5rem;
  margin-bottom: .5rem;
  display: inline-block;
  vertical-align: top;
  min-width:72px;
  height: 32px;
  border-radius:2px;
  text-align: center;
  line-height: 1.5em;
  cursor: pointer;
}

.reservation-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  justify-content: center;
}

.input-title{
  font-size: .875rem;
  font-weight: 500;
}


.reservation-find-table {
  width: 300px;
  height: 32px;
  text-align: center;
  background-color: #da3743;
  color: white;
  cursor: pointer;
}

.date-picker {
  cursor: pointer;
}

.reservation-time {
  cursor: pointer;
}
