@font-face {
  font-family: BrandonText;
  src: url("fonts/BrandonText-Regular.otf") format("opentype");
}
.reservation-main {
  font-family: BrandonText;
  width: 350px;
  box-shadow: 2px 2px 2px 2px #F0F0F0;
}


.reservation-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.reservation-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-right: 1rem;
  margin-left: 1rem;
  border-bottom: 1px solid #d8d9db;
}

.time-slot {
  background-color:#da3743;
  color: white;
  width: 100px;
  /* border: 1px solid black; */
  margin-right: .5rem;
  margin-bottom: .5rem;
  display: inline-block;
  vertical-align: top;
  min-width:72px;
  height: 32px;
  border-radius:2px;
  text-align: center;
  line-height: 1.5em;
  cursor: pointer;
}


.dropdown {
  background-color: #fff;
  font-size: .875rem;
  font-family: BrandonText;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom: 1px solid #d8d9db;
  outline:0px;
  margin-bottom: .5rem;
}
.dropdown:hover, .time-slot:hover {
  border-bottom: 2px solid #da3743;
}
.dropdown:focus, .time-slot:hover {
  border-bottom: 2px solid #da3743;
}

.input-title{
  font-size: .800rem;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: .5rem;
  margin-left: .15rem;
}


.reservation-find-table-button {
  border-radius:2px;
  width: 300px;
  height: 32px;
  text-align: center;
  background-color: #da3743;
  color: white;
  cursor: pointer;

  /* color: white;
  padding: .75rem 1rem;
  text-decoration: none;
  background-color: #da3743;
  color: #fff;
  border: none;
  height: 32px;
  text-align: center;
  cursor: pointer; */
}

.date-picker {
  cursor: pointer;
  font-family: BrandonText;
}

.reservation-time {
  cursor: pointer;
}

.reservation-booked {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.reservation-find-table-button:hover, .time-slot:hover {
  background-color: #EE9FA5 ;
}
/* EE9FA5 Faded button */
